* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111111;
    color: whitesmoke;
}

a {
  color: Cyan;
}

a:visited {
  color: MediumOrchid;
}

a:hover, a:active {
  color: #ccc;
}

ul {
  list-style: none;
}
