* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111111;
    color: whitesmoke;
}

a {
  color: Cyan;
}

a:visited {
  color: MediumOrchid;
}

a:hover, a:active {
  color: #ccc;
}

ul {
  list-style: none;
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 0.5rem;
}
